<!DOCTYPE html>
<html>
  <head>
    <title>Suventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice -%>
      <div class="alert flash-alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center> <%= notice %> </center>
      </div>
    <% end -%>
    <% if alert -%>
      <div class="alert flash-alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center> <%= alert %> </center>
      </div>
    <% end -%>
    <div class="container-fluid">
      <div class="masthead">
        <%= render 'layouts/user_header' %>
        <h3 class="muted"><%= link_to "Suventure Demo", root_path %></h3>
        <!-- <h5 class="muted">A demo of using SimpleDB with Devise</h5> -->
      </div>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
